
.card_container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 150px;
}

.card {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    width: 500px;
}

.card-img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card-title {
    color: #000;
    margin: 0 0 8px;
    font-size: 24px;
}

.card-description {
    margin: 0;
    color: #666;
}
